@import "../bower_components/susy/sass/_susy.scss";
@import "../bower_components/breakpoint-sass/stylesheets/_breakpoint.scss";

$susy: (columns: 12, gutters: 0.25, container: 960px, math: fluid, output: float, debug: (image: show-columns, color: rgba(224, 58, 185, 0.7), output: overlay, toggle: top right));
$main-color: #fff;
$second-color: #7dffba;
$dark-grey: #555;
$light-gray: #777;
$dark-blue: #131a1d;

.main-container {
  @include container;
}

body {
  font-family: 'Open sans', sans-serif, serif;
  font-size: 16px;
}

h1,
h2,
h3,
h4,
h5,
h6,
p,
ul {
  margin: 0;
  padding: 0;
}

ul {
  list-style: none;
}

a {
  text-decoration: none;
  text-transform: uppercase;

  font-size: 0.875rem;
  line-height: 1.643;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  color: $dark-grey;
}

p {
  color: $light-gray;

  font-size: 1rem;
  line-height: 1.5;
}

h1 {
    text-transform: uppercase;

    font-size: 1.875rem;
    font-weight: bold;
}

/***********************************************
                #header
***********************************************/
.header {
  background: $light-gray url("../img/header-bg.jpg");
  background-size: cover;
}

.top-bar {
  padding: 26px 0;

  opacity: 0.8;
  background: #000;

  @include susy-clearfix;
}

.top-logo {
  @include span(3);
}

.top-logo img {
  vertical-align: middle;
}

.top-nav {
  text-align: right;

  @include span(8 last);
}

.top-nav__item {
  display: inline-block;

  margin-left: 2.55em;
}

.top-nav__link {
  vertical-align: middle;

  color: $main-color;

  &:active,
  &:hover {
    color: $second-color;
  }
}

.hero-title {
  padding: 19.5rem 0;

  text-align: center;

  color: $second-color;

  font-family: 'Kaushan Script', cursive;
  font-size: 4.375rem;
}

/***********************************************
                #about
***********************************************/
.about {
  padding: 81px 0 108px;

  text-align: center;
}

.about__title {
  margin-bottom: 56px;
}

.about__text {
  margin: 0 100px;
}

/***********************************************
                #service
***********************************************/

.service {
  padding: 85px 0 40px;

  background: #f6f6f6;

  @include susy-clearfix;

}

.service__item {
  position: relative;

  text-align: center;

  @include gallery(2 of 8);
}

.service__item--travel::before,
.service__item--dest::before,
.service__item--map::before,
.service__item--spot::before {
  position: absolute;
  top: -86px;
  left: 50%;

  display: block;

  width: 50px;
  height: 50px;

  content: '';
  transform: translateX(-50%);

  background: url("../img/sprite.png") no-repeat;
  @media screen and (-webkit-min-device-pixel-ratio: 2), screen and (min-device-pixel-ratio: 2) {
     background: url("../img/sprite@2.png") no-repeat;
     background-size: 200px 150px;
   }
}

.service__item--travel::before {
  background-position: 0 0;
}
.service__item--dest::before {
  background-position: -50px 0;
}
.service__item--map::before {
  background-position: -100px 0;
}
.service__item--spot::before {
  background-position: -150px 0;
}

.service__title {
  margin-bottom: 42px;

  font-size: 1.125rem;
}

.service__text {
  font-size: 0.875rem;
  line-height: 2;
}

/***********************************************
                #portfolio
***********************************************/

.portfolio {
  padding: 90px 0 80px;

  text-align: center;
}

.portfolio__title {
  margin-bottom: 45px;
}

.portfolio__text {
  margin:0 88px;
}

.gallery {
  display: -webkit-flex;
  display: -ms-flex;
  display: flex;
  flex-direction: column;

  max-height: 710px;
  margin-top: 63px;
  margin-bottom: 80px;

  font-size: 0;

  flex-wrap: wrap;
}

.gallery__image {
  width: 31.9%;
  margin-right: 2%;
}

.gallery__image:nth-child(2n + 1) {
  margin-bottom: 20px;
}

.portfolio__more-link {
  display: block;

  width: span(2.5);
  margin: 0 auto;
  text-transform: uppercase;
  color: #000;
  background: $second-color;
  font-weight: bold;
  padding: 16px 0;
}
