@import "../bower_components/susy/sass/_susy.scss";
@import "../bower_components/breakpoint-sass/stylesheets/_breakpoint.scss";
@import "normalize.scss";

$susy: (columns: 12, gutters: 0.25, container: 960px, math: fluid, output: float);

$main-color: #fff;
$second-color: #7dffba;
$dark-grey: #555;
$light-gray: #777;
$dark-blue: #131a1d;

$wide-break: max-width 850px;
$small-break: max-width 650px;
$mobile-break: 320px 500px;


.main-container {
  @include container;
}

body {
  font-family: 'Open sans', sans-serif, serif;
  font-size: 16px;
}

h1,
h2,
h3,
h4,
h5,
h6,
p,
ul {
  margin: 0;
  padding: 0;
}

ul {
  list-style: none;
}

a {
  text-decoration: none;
  text-transform: uppercase;

  font-size: 0.875rem;
  line-height: 1.643;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  color: $dark-grey;
}

p {
  color: $light-gray;

  font-size: 1rem;
  line-height: 1.5;
}

h1 {
    text-transform: uppercase;

    font-size: 1.875rem;
    font-weight: bold;
}

/***********************************************
                #header
***********************************************/
.header {
  background: $light-gray url("../img/header-bg.jpg");
  background-size: cover;
}

.top-bar {
  padding: 26px 0;

  background: rgba(0,0,0,.8);

  @include susy-clearfix;

}

.top-logo {
  @include span(3);
  @include breakpoint($small-break) {
    padding-left: 15px;
  }
}

.top-logo img {
  vertical-align: middle;
}

.top-nav {
  text-align: right;

  @include span(8 last);
  @include breakpoint($small-break){
    position: fixed;
    z-index: 11;
    top: 0;
    left:-250px;

    width: 250px;
    height: 100%;
    margin: 0;
    padding-top: 20px;

    text-align: center;

    background: $dark-grey;
  }
}

.top-nav--open {
  z-index: 11;

  transform: translateX(250px);
}

.overlay {
  position: fixed;
  z-index: 10;
  top: 0;
  left: 0;

  display: none;

  width: 100%;
  height: 100%;

  opacity: 0.8;
  background: #000;
}

.top-nav--open ~ .overlay {
  display: block;
}

.nav__item {
  display: inline-block;

  margin-left: 2.55em;

  @include breakpoint($small-break){
    display: block;
  }
}

.top-nav .nav__item {
  @include breakpoint($wide-break) {
    margin-left: .5em;
  }
  @include breakpoint($small-break){
    margin-bottom: 20px;
  }

}

.nav__link {
  vertical-align: middle;

  color: $main-color;

  &:active,
  &:hover {
    color: $second-color;
  }
}

.top-nav__menu {
  position: fixed;
  z-index: 11;
  top: 24px;
  right: 14px;

  display: none;

  color: $main-color;

  font-size: 3rem;
  line-height: .5;

  @include breakpoint($small-break){
    display: block;
  }

  &::after {
    position: absolute;
    z-index: -1;
    top: -8px;
    left: 0;

    width: 44px;
    height: 42px;

    content: " ";

    background: rgba(0,0,0,.8);
  }
}

.hero-title {
  padding: 19.5rem 2rem;

  text-align: center;

  color: $second-color;

  font-family: 'Kaushan Script', cursive;
  font-size: 4.375rem;

  @include breakpoint($wide-break) {
    padding: 10rem 2rem;
  }
  @include breakpoint($mobile-break) {
    padding: 4rem 1rem;

    font-size: 3.5rem;
  }
}

/***********************************************
                #about
***********************************************/
.about {
  padding: 81px 0 108px;

  text-align: center;

  @include breakpoint($wide-break) {
    padding: 40px 0;
  }
}

.about__title {
  margin-bottom: 56px;

  @include breakpoint($wide-break) {
    margin-bottom: 28px;
  }
}

.about__text {
  margin: 0 100px;

  @include breakpoint($wide-break) {
  margin: 0 20px;
  }
  @include breakpoint($mobile-break) {
    margin: 0 30px;
  }
}

/***********************************************
                #service
***********************************************/

.service {
  padding: 85px 0 40px;

  background: #f6f6f6;

  @include susy-clearfix;
  @include breakpoint($wide-break) {
    padding: 55px 0 20px;
  }
  @include breakpoint($small-break) {
    padding-top: 10px;
  }

}

.service__item {
  position: relative;

  text-align: center;

  @include gallery(2 of 8);
  @include breakpoint($small-break) {
    padding-top: 85px;

    @include gallery(4 of 8);
  }
  @include breakpoint($mobile-break) {
    float:none;

    margin-right:0!important;

    @include gallery(12 of 12);
  }
}

.service__item--travel::before,
.service__item--dest::before,
.service__item--map::before,
.service__item--spot::before {
  position: absolute;
  top: -86px;
  left: 50%;

  display: block;

  width: 50px;
  height: 50px;

  content: '';
  transform: translateX(-50%);

  background: url("../img/sprite.png") no-repeat;

  @include breakpoint($small-break) {
    top: 25px;
  }
  @media screen and (-webkit-min-device-pixel-ratio: 2), screen and (min-device-pixel-ratio: 2) {
     background: url("../img/sprite@2.png") no-repeat;
     background-size: 200px 150px;
   }
}

.service__item--travel::before {
  background-position: 0 0;
}
.service__item--dest::before {
  background-position: -50px 0;
}
.service__item--map::before {
  background-position: -100px 0;
}
.service__item--spot::before {
  background-position: -150px 0;
}

.service__title {
  margin-bottom: 42px;

  font-size: 1.125rem;

  @include breakpoint($small-break) {
    margin-bottom: 15px;
  }
}

.service__text {
  font-size: 0.875rem;
  line-height: 2;

  @include breakpoint($mobile-break){
    padding: 0 10px;
  }
}

/***********************************************
                #portfolio
***********************************************/

.portfolio {
  padding: 90px 0 80px;

  text-align: center;

  @include breakpoint($wide-break) {
    padding: 40px 0 30px;
  }
}

.portfolio__title {
  margin-bottom: 45px;

  @include breakpoint($wide-break) {
    margin-bottom: 15px;
  }
}

.portfolio__text {
  margin:0 88px;

  @include breakpoint($wide-break) {
    margin: 0 30px;
  }
}

.gallery {
  margin: 70px 0 82px;

  column-count: 3;
  column-gap: 20px;

  @include breakpoint($mobile-break){
    column-count: auto;
  }

  //WORKAROUND FOR IE
  @media all and (-ms-high-contrast:none) {
    margin-bottom: 0;
  }
}

.gallery__image {
  display: block;

  width: 100%;

  break-inside: avoid;
}

.gallery__image--small {
  @include breakpoint($small-break) {
    display: none;
  }

  @include breakpoint($mobile-break){
    display: block;
  }
}

.gallery__image--big {
  @include breakpoint($mobile-break){
    display: none;
  }
}

.portfolio__more-link {
  display: block;

  width: span(2.5);
  margin: 0 auto;
  padding: 16px 0;

  text-transform: uppercase;

  color: #000;
  background: $second-color;

  font-weight: bold;

  @include breakpoint($small-break) {
    width: span(4);
  }

  &:hover, &:active {
    color: $main-color;
    background: #60c48f;
  }
  &:active {
    border-top: 3px solid #49966d;
  }
}

/***********************************************
                #testimonials
***********************************************/
.testimonials {
  padding: 81px 0 76px;

  text-align: center;

  background: #f6f6f6;

  @include breakpoint($wide-break) {
    padding: 35px 0 30px;
  }
}

.testimonials__title {
  margin-bottom: 41px;
}

.testimonials__slider {
  position: relative;

  overflow: hidden;

  min-height: 200px;
}

.slider__item {
  display: none;

  width: 100%;
  height: 100%;

  animation: slidein .6s ease-in;

    @include breakpoint($wide-break) {
      width: 90%;
      margin: 0 auto;
    }
}

.slider__item--showing {
  display: block;
}

.slider__text {
  margin-bottom: 35px;

  font-size: 1.5rem;
  font-style: italic;
}

.slider__author {
  text-transform: uppercase;

  font-weight: bold;
}

.slider__author-about {
  font-size: .875rem;
  font-style: italic;

  &::before {
    content: '~';
  }
}

.pagination__item {
  width: 16px;
  height: 16px;
  margin-right: 12px;

  cursor: pointer;

  border: none;
  border-radius: 50%;
  outline: none;
  background: #ccc;

  font-size: 0;

  @include breakpoint($wide-break) {
    width: 26px;
    height: 26px;
  }

  &:last-child {
    margin-right: 0;
  }

}

.pagination__item--showing {
  background: #959595;
}

/***********************************************
                #footer
***********************************************/

.footer {
  padding: 90px 0 94px;

  text-align: center;

  background: $dark-blue;

  @include breakpoint($wide-break) {
    padding: 40px 0 40px;
  }
}

.footer__social {
  margin: 0 auto;
}

.social__item {
  display: inline-block;

  margin-right: 9px;
  &:last-child {
    margin-right: 0;
  }
}

.social__link {
  display: block;

  width: 32px;
  height: 32px;

  background: url("../img/sprite.png") no-repeat;

  font-size: 0;
  @media screen and (-webkit-min-device-pixel-ratio: 2), screen and (min-device-pixel-ratio: 2) {
     background: url("../img/sprite@2.png") no-repeat;
     background-size: 200px 150px;
   }
}

.social__link--facebook {
  background-position: 0 -50px;

  &:hover, &:active {
    background-position: 0 -100px;
  }
}

.social__link--twitter {
  background-position: -50px -50px;

  &:hover, &:active {
    background-position: -50px -100px;
  }
}

.social__link--linkedin {
  background-position: -100px -50px;

  &:hover, &:active {
    background-position: -100px -100px;
  }
}

.footer__title {
  position: relative;

  margin-top: 29px;
  padding-bottom: 34px;

  color: $main-color;

  &::after{
    position: absolute;
    bottom: -6px;
    left: 50%;

    display: block;

    width: 87px;
    height: 6px;

    content: '';
    transform: translateX(-50%);

    background: $second-color;
  }
}

.footer__nav {
  margin-top: 37px;
}

.footer__nav .nav__item {
  margin: 0;
  padding: 0 23px;

  border-right: 2px solid $main-color;

  @include breakpoint($small-break) {
    border-right: none;

    font-size: 2rem;

  }

  &:last-child {
    border-right: none;
  }
}

/***********************************************
                #footer
***********************************************/
.copyright {
  padding: 24px 0 26px;

  @include susy-clearfix;
}

.copyright__text {
  display: inline-block;

  font-size: .75rem;
  line-height: 2.214;

  @include breakpoint($mobile-break) {
    font-size: .5rem;
  }
}

.copyright__to-top {
  position: relative;

  display: block;

  width: 31px;
  height: 31px;

  transition: background .7s;

  background: #eee;

  @include last;
  &::after {
    position: absolute;
    bottom: 3px;
    left: 50%;

    display: block;

    width: 7px;
    height: 7px;

    content: '';
    transform: translateX(-50%) rotate(45deg) ;

    border: 2px solid $dark-grey;
    border-right-color: transparent;
    border-bottom-color: transparent;
  }

  &:hover, &:active {
    background: $dark-grey;
  }
  &:hover::after, &:active::after {
    border-top-color: #eee;
    border-left-color: #eee;
  }

}
/************************************
          animation
************************************/

@keyframes slidein {
  from {
    width: 300%;
    margin-left: 100%;
  }
  to {
    width: 100%;
    margin-left: 0;
  }
}
